<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Twitter - now hater free!">
    <meta name="author" content="Rodrigo Menezes">

    <title>Hater Blocker</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="//platform.twitter.com/widgets.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">
      <a class='pull-right' href='/login' style="padding-top: 25px;">Login With Twitter</a>

      <h3 class="text-muted">Hater Blocker</h3>

      <div class="jumbotron">
        <h2>Twitter without the haters!</h2>

        <p>In a recent South Park episode, Butters had to filter out negative tweets for different accounts.</p>
        <p>Instead of Butters, we'll use a <a href="https://textblob.readthedocs.org/en/dev/">sentiment analysis library</a>!</p>

        <a class="btn btn-primary" href="/login" style="margin-bottom: 20px;">Login with Twitter to see your timeline hate-free</a>

        <div>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/sXQkXXBqj_U" frameborder="0" allowfullscreen></iframe>
        </div>

      </div>

      <footer class="footer">
        <p class="pull-right"><a href="https://github.com/rclmenezes/haterblocker">Github</a></p>
        <p>Made by <a href="https://twitter.com/rclmenezes/">Rodrigo Menezes</a></p>
        <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="haterblocker">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </footer>
    </div>
  </body>
</html>
